body {
    margin: 0;
    padding: 0;
    background: url(signup_back.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    font-family: sans-serif;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

h1 {
    margin: 0;
    padding: 0 0 20px;
    font-size: 22px;
}

.options {
    width: 120px;
    height: 40px;
    margin-left: 375px;
    margin-top: 50px;
    border: none;
    outline: none;
    background: #333399;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

body input[type=submit]:hover {
    cursor: pointer;
    background: #6699FF;
    color: #fff;
}

button:hover {
    background-color: green;
    color: white;
}

.sign-up-form {
    text-align: center;
    width: 400px;
    height: 525px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    top: 55%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.sign-up-form input[type=submit] {
    border: none;
    outline: none;
    height: 40px;
    background: #333399;
    color: #fff;
    font-size: 18px;
    padding-left: 125px;
    padding-right: 125px;
    border-radius: 20px;
}

.sign-up-form input[type=submit]:hover {
    cursor: pointer;
    background: #6699FF;
    color: #fff;
}

.user-details {
    width: 300px;
    padding: 10px;
    border-radius: 5px;
}

.phone-tag {
    width: 65px;
    padding: 10px;
    border-radius: 5px;
}

.user-phone {
    width: 235px;
    padding: 10px;
    border-radius: 5px;
}