body {
	margin: 0;
	padding: 0;
	background: url(vendor_home.jpg);
	background-size: cover;
	background-position: center;
	font-family: sans-serif;
	color: #fff;
}

.pending {
	width: 80%;
	height: auto;
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
	position: relative;
	left: 10%;
	box-sizing: border-box;
}


.loginbox input[type=submit] {
	border: none;
	outline: none;
	height: 40px;
	background: #333399;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;
}

.loginbox input[type=submit]:hover {
	cursor: pointer;
	background: #6699FF;
	color: #fff;
}

.loginbox label {
	font-size: 16px;
}

.loginbox a {
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	line-height: 20px;
	color: #fff;
}

.loginbox a:hover {
	color: #6699FF;
}
	
.navbar-height {
    height: 75px;
}

.glyphicon {
    font-size: 25px;
}

.thumbnail {
    width: 250px;
    height: 250px;
    overflow: auto;
}

.img_size {
    width: 120px;
    height: 120px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.adjust{
	padding:10px 20px 0px 20px;
}

.table-header{
	text-align: center;
	font-weight: bold;
}

.link{
	color:#C0C0C0; 
	font-weight:bold;
}
