body {
	margin: 0;
	padding: 0;
	background: url(update_stock.jpg);
	background-size: cover;
	background-position: center;
	font-family: sans-serif;
	color: #fff;
}

.update {
	width: 500px;
	height: 420px;
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
	top: 55%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	padding: 70px 30px;
}
	
.navbar-height {
    height: 75px;
}

.glyphicon {
    font-size: 25px;
}

.thumbnail {
    width: 250px;
    height: 250px;
    overflow: auto;
}

.img_size {
    width: 120px;
    height: 120px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.list{
	height: 15%;
	font-size: 18px;
}

input[type=number]{
	background: rgba(0, 0, 0, 0);
	width: 100px;
	float: right;
	text-align: right;
	border-width: 0px;
	border: none;
	border-bottom: 1px solid white;
	margin-right: 50px;
	height: 60%;
}