.navbar-height {
    height: 75px;
}

.glyphicon {
    font-size: 25px;
}

.thumbnail {
    width: 250px;
    height: 250px;
    overflow: auto;
}

.img_size {
    width: 120px;
    height: 120px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}


html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background: url(user_profile_bg.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    font-family: sans-serif;
}

.profilebox {
    width: 1200px;
    min-height: 500px;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    top: 110%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.profile {
     width: 220px;
    height: 220px;
    position: absolute;
    top: 10px;
    left: 40px;
    padding: 20px 20px 20px 20px;
}

h1 {
    margin-left: 400px;
	padding-left: 250px;
    font-weight:bolder;
    margin-top: 0px;
}

.details {
    margin-top: 110px;
    margin-left: 230px;
    font-size: 18px;
    font-weight: bolder;
}

.details p {
    margin-bottom: 15px;
}

.user-details {
    border: none;
    margin-left: 30px;
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 200px;
    background: transparent;
    outline: none;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
}