.navbar-height {
    height: 75px;
}

.glyphicon {
    font-size: 25px;
}

.thumbnail {
    width: 250px;
    height: 250px;
    overflow: auto;
}

.img_size {
    width: 120px;
    height: 120px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.bg-thumbnail {
    background-color: rgba(0, 0, 0, 0.5);
    /* Dark Blue */
    color: #ffffff;
    border: none;
    outline: none;
}

.bg-body {
    margin: 0;
    padding: 0;
    background: url(user_home_bg.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

.checkout-btn {
    width: 65%;
    margin-left: 30px;
    font-size: 15px;
    border: none;
    outline: none;
    border-radius: 20px;
    font-weight: bolder;
}

.reset-btn {
    width: 65%;
    margin-left: 30px;
    margin-bottom: 20px;
    font-size: 15px;
    border: none;
    outline: none;
    border-radius: 20px;
    font-weight: bolder;
}

.item-font {
    font-family: Russo One;
    font-size: 20px;
}

.price-font {
    padding-top: 10px;
    font-family: sans-serif;
    font-size: 15px;
}

.quantity-font {
    padding-top: 5px;
    font-family: sans-serif;
    font-size: 15px;
}

.items {
    color: black;
}

#table_rice_quantity {
    font-weight: bold;
}